@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

#cookie_top {
  animation: bounce 2s infinite;
}

#cookie_bottom {
  animation: bounce 2s infinite;
  animation-delay: 0.5s;
}

#shadow_floor {
  animation: pulse 2s infinite;
}